!!! XML
%html
  %body
    %p
      %img(src=bargraph)
  %table{:border => "0"}
    %tr
      %td Development Task Hours
      %td
        %img(src=sparkline_dvl)
    %tr
      %td BAU Task Hours
      %td
        %img(src=sparkline_bau)
    %tr
      %td Break Fix Task Hours
      %td
        %img(src=sparkline_brkfx)
    %tr
      %td Actual vs. Estimate Variance
      %td
        %img(src=sparklink_act_vs_est)